#container {
    display: flex;
    flex-direction: row;
}
#map {
    height: 300px;
    width: 46%;
}

#station_details {
    padding-left: 5%;
}

#station_details form {
    display: flex;
    flex-direction: column;
}

/*#station_details {
    display: none;
}*/