#container {
    display: flex;
    flex-direction: row;
}
#map {
    height: 300px;
    width: 46%;
}

#station_details {
    padding-left: 5%;
}

/*#container {
    display: flex;
    flex-direction: row;
}*/